
body {
    margin:0;
    background-color: #a5a5a5;
    height: 100vh;
    
}

.container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
}

.back {
    overflow: hidden;
    position: absolute;
    margin:10px 0 0 10px;
    padding:5px 0;
    font-size: 15px;}
.back a {
    color: #bff1ff;
    text-decoration: none;
    transition: 0.2s ease-out;
    padding: 4px;
    border-radius: 20%;
    border: 3px solid #f5f5f500;
    border-bottom: 3px solid #ffffff;}
.back a:hover {
        color: #ffffff;
        background:#c2c2c2;
        border-top: 1px solid #00000091;
        border-bottom: 3px solid #1a23443d;
        border-left: 3px solid #1a234451;
        border-right: 3px solid #ffffff47;}
.back a:active {
    color: #ffffff;
    background:linear-gradient(#1a23412e,#f5f5f5);
    border-top: 1px solid #7d7d7d;
    border-bottom: 3px solid #1a234400;
    border-left: 3px solid #1a23440b;
    border-right: 3px solid #ffffff00;}

.title{
    text-align: center;
    background: linear-gradient(#a5a5a5, #000000);
    color: #ffffff;
}

.video-wrapper {
    displaY: flex;
    background: rgb(0, 0, 0);
    justify-content: center;

}
#video {
    min-width: 250px;
    max-width: 800px;
    width: 80%;
    height: auto;
    position: relative;
   
}

p {
    text-align: center;
    margin: 10px 11% 0;
    color: #ffffff
}

a, a p {
    text-decoration:none;
    color:#bff1ff;
}
a p:hover {
    color: white;
}

.text {
    background: #000000;
    padding: 20px 0 16vh 0;
}

@media screen and (max-width: 768px){
    h1 {
        padding: 10vh 3vh;
    }
    body {
        height: auto;
    }
    .text {
    padding: 20px 0 6vh 0;
}
}

/* JS version */
/* --- Ttt Styling --- */
.game-section {
  text-align: center;
  padding: 0 0 50px;
  background: linear-gradient(#000, #a5a5a5);
  color: white;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 2.5em;
  background: #111;
  color: #bff1ff;
  border: 2px solid #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.cell:hover {
  background: #333;
}

#resetBtn {
  background: #bff1ff;
  border: none;
  color: #000;
  font-weight: bold;
  margin:8px 0 0 0;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
#resetBtn:hover {
  background: white;
}
